.batman-header {
  text-align: center;
}

html,
body {
  height: 100%;
  background: #666666;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 150px;
  width: 250px;
  position: relative;
  overflow: hidden;
}
.outer-circle {
  position: absolute;
  height: 130px;
  width: 230px;
  border-radius: 50%;
  border: 6px solid #000;
  background: #fffb3b;
  top: 3px;
  left: 4px;
  overflow: hidden;
}

.bat {
  background: #000;
  position: absolute;
  height: 112px;
  width: 213px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
}

.sphere-1 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  left: 44px;
  transform: rotate(-41deg);
}

.sphere-2 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  left: 68px;
  transform: rotate(-15deg);
}

.sphere-3 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 33px;
  border-radius: 50%;
  top: 67px;
  right: 44px;
  transform: rotate(41deg);
}

.sphere-4 {
  background: #fffb3b;
  position: absolute;
  height: 70px;
  width: 38px;
  border-radius: 50%;
  top: 73px;
  right: 68px;
  transform: rotate(15deg);
}

.sphere-5 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  left: 57px;
  transform: rotate(15deg);
}

.sphere-6 {
  background: #fffb3b;
  position: absolute;
  height: 40px;
  width: 37px;
  border-radius: 50%;
  top: 0px;
  right: 57px;
  transform: rotate(15deg);
}

.square-1 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  left: 74px;
}

.square-2 {
  background: #fffb3b;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0px;
  right: 74px;
}

.trapezoid {
  top: 0px;
  left: 95px;
  position: absolute;
  border-bottom: 12px solid #fffb3b;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  height: 0;
  width: 11px;
  transform: rotate(180deg);
}
